* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.headerboard {
  background-color: #703e7c;
  padding: 30px 20px;
  font-size: 20px;
  font-family: 'Titillium Web', sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
}

.container {
  padding: 40px 40px;
  display: flex;
  flex-direction: row;
}

.card1 {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  width: 60%;
  gap: 20px;
}

.card2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 20%;
  margin-left: 50px;
}

.card2 form input {
  width: 100%;
  height: 32px;
  text-indent: 5px;
  transition: 0.5s;
  border: 1px solid rgb(104, 104, 120);
}
.card2 form input:focus {
border: 2px solid blue;
border-radius: 3px;
outline: blue;
}

.card2 form input[type='submit'] {
  float: right;
  width: 40%;
  height: 30px;
  background-color: #d2f1fc;
  text-indent: 0;
  font-weight: 600;
  border: 1px solid rgb(41, 41, 72);
  outline: blue;
  border-radius: 2px;
}

.card2 form input[type='submit']:hover {
  background-color: #28759c;
  color: #fff;
}

.card2 form input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.card1 h2 {
  font-size: 30px;
  letter-spacing: 5px;
  color: #052739;
}

.card2 h2 {
  letter-spacing: 1px;
  font-size: 30px;
  color: #052739;
}

.topboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.topboard button {
  width: 100px;
  height: 30px;
  background-color: #d2f1fc;
  font-weight: 400;
  transition: 0.5s all;
  border: 1px solid rgb(43, 43, 55);
  border-radius: 3px;
  font-weight: 600;
}

.topboard button:hover {
  background-color: #28759c;
  border: 1px solid rgb(181, 181, 255);
  color: #fff;
}

.board ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  font-family: 'Titillium Web', sans-serif;
  border: 1px solid black;
}

.board ul li {
  padding: 5px 5px;
  color: #381450;
}

.board ul li:nth-of-type(2n) {
  background-color: rgb(224, 224, 224);
}
.board ul li:first-child{
  background-color: #7b717d;
  color: #fff;
}
footer {
  padding: 0 20px ;
  border: 1px solid black;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  background-color: #021824;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Titillium Web', sans-serif;
}
